@import url(normalize.css);

:root {
  --font-primary: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  --font-secondary: 'Montserrat', 'Arial', sans-serif;
  --font-third: 'Poppins', 'Arial', sans-serif;
  
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  
 
  --font-size-xs: 0.75rem;   /* 12px */
  --font-size-sm: 0.875rem;  /* 14px */
  --font-size-base: 1rem;    /* 16px */
  --font-size-lg: 1.125rem;  /* 18px */
  --font-size-xl: 1.5rem;    /* 24px */
  --font-size-xxl: 2rem;     /* 32px */
  --font-size-xxxl: 2.5rem;  /* 40px */
}


body {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
  line-height: 1.5;
  font-optical-sizing: auto;
 
    
}
.section {
  max-width: 1127px;
  width: 100%;
  margin: 0 auto; 
}

.header{
  background-image: url('../images/image.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  height: 830px;
}


.header_nav{
  display: flex;
  justify-content: center;
  height: 69px;
  align-items: center;
}

.header_logo{
  width:224px;
}
.logo{
  color:#fff;

}

.nav_list{
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
    list-style: none;
    gap:16px;
}
.nav_link{
  text-decoration: none;
  color: #ffffff;
  font-family: var(--font-primary);
  font-size: 16px;
  padding: 0px 8px;
}

.secondNav_list{
  display: flex;
  justify-content: space-between;
  list-style: none;
  width:224px;
  padding-left: 8px;
}

.nav_link-special{
  font-size: 14px;
  font-weight: var(--font-weight-semibold);
  color: black;
  background-color: #fff;
  border: 12px solid #fff;
  border-radius: 24px;
}


.title{
    margin: 5px;
    font-size: 80px; 
    font-family: var(--font-secondary);
    font-weight: 900;
    padding: 0;
}

.header_title{
  margin-top: 436px;
    color: #ffffff;
    padding: 0;
    height: 176px; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.text-light{
   font-weight: 200;
    font-style: italic;
    margin-left: 67px;
    display: block;
    line-height: 0.8; 

}

.header_arrow{
  width: 70px;
  height: 70px;
  margin: 38px auto 40px auto;
  }



.section_motherhood{
    background-color: #F0EFEE;
    height: 761px;
}


  .motherhood{
    height: 100%;
    padding: 80px 0 80px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
  }
.motherhood_text{
  width: 513px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  z-index: 1;
  
}
.motherhood_title{
  font-family: var(--font-primary);
  font-weight: var(--font-weight-semibold);
  font-size: 32px;
}

.motherhood_discription{
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  line-height: 160%;
}

.motherhood_btn{
   font-family: var(--font-third);
  font-weight: var(--font-weight-semibold);
  font-size: 16px;
  color:#353535;
    text-decoration: underline 1px solid #353535;
    text-underline-offset: 9px;

}
.motherhood_bg{
  display: contents;

}

.motherhood_bgtext{
   position: absolute;
    top: 65%; 
    left: 0;
    z-index: 0; 
}
.motherhood_image{
  width:463px;
  height:605px;
  z-index: 1;
}
.motherhood_img{
  border-radius: 10px;
}

.section_products{
  height: 1845px;
      background-color: #F0EFEE;
      position: relative;
}
.products_bgimage{
  position: absolute;
    top: 50%; 
    width:100%;
    left: 0;
    z-index: 0; 
   
}
.products{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: 100%;
  padding: 80px 0;
}

.products_title{
  align-self: start;
}
.card_box{
   display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product_card{
   z-index: 1;
}

.product_card-small{
  max-height: 355px;
}
.product_rectangle-big{
  width:551px;
  height:665px;
}
.product_image-big{
  border-radius: 10px;

}
.product_rectangle-small{
  width:551px;
  height:286px;
}
.product_image-small{
  border-radius: 10px;

}

.product_text{
  padding-top: 16px;
}
.product_name{
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  font-size: 16px;
  line-height: 1.9;
}
.product_discription{
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  color:#8B8B8B;
}

.prosucts_firstSlider{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.prosucts_secondSlider{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn{
  font-family: var(--font-third);
  font-weight: var(--font-weight-semibold);
  font-size: 16px;
  color: #ffffff;
  background-color: #7F3E41;
  border-radius: 50px; 
  text-decoration: none;
   display: inline-flex;
  align-items: center;
  justify-content: center;
  &:hover, &:active, &:focus {
    color: #ffffff;
    background-color: #7F3E41;
    text-decoration: none;
    outline: none;
    transform: none;
    box-shadow: none;
  }
} 

.products_btn{
  width: 193px;
  height: 56px;
}

.section_tips{
  height: 923px;
  background-color: #7F3E41;
  position: relative;
}

.tips{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: 100%;
  padding: 80px 0;
}

.tips_cards{
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
}
.tips_bgimage{
  position: absolute;
  top: 0%; 
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    z-index: 0; 
  }
  
  .tips_title{
    color: #fff;
    align-self: start;
}
.card{
  width:360px;
  height: 282px;
  background-color: #fff;
  border-radius: 16px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  position: relative;
}
.card_logo{
  width: 70px;
  height: 70px;
}
.card_title{
position: relative;
}

.card_name{
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  font-size: 16px;
  line-height: 1.2;
  
}

.card_arrow{
  position: absolute;
  top: 3px;
  height: 11px;
  width: auto;
  left: 260px;
  z-index: 1; 
}

.card_discription{
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  line-height: 1.4;
  
}
.tips_btn{
  color: #7F3E41;
  background-color:  #ffffff;
  width: 103px;
  height: 56px;
  &:hover, &:active, &:focus {
    color: #7F3E41;
    background-color: #ffffff;
  }
}

.section_stories{
  background-color: #F0EFEE;
}

.stories_container{
  height: 1201px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 40px; */
  padding:80px 0px;

}

.stories_title{
  font-family: var(--font-primary);
  font-weight: var(--font-weight-semibold);
  font-size: 32px;
}

.stories{
  display: flex;
  justify-content: space-between;
  gap: 24px;
}


.story{
  height:671px;
  width:auto;
}
.story-small{
  height:278px;
  width:551px;
}
/* .story_rectangle-small{
  width:551px;
} */
.story_card{
  background-color: #fff;
  border-radius: 10px;
}

.story_cards{
display: flex;
flex-direction: column;
gap: 24px;
}

.story_text{
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.story_title{
  font-weight: var(--font-weight-bold);
  font-size: 18px;
}
.story_discription{
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  color: #8B8B8B;
  line-height: 160%;
}

.stories_btn{
  width:192px;
  height: 56px;
  align-self: center;
}

.readMore{
  color: #7F3E41;
}


.section_contacts{
  height:1294px;
  background-color: #7F3E41;

}
.contacts_container{
  display: flex;
  padding: 80px 0px;
  flex-direction: column;
  gap: 80px;
}
.contacts_title{
   color: #fff;
    align-self: start;
    font-size: 32px;
    vertical-align: top;
}
.communication_wrapper{
  padding-top: 40px;
  display: flex;

}
.message{
  height: 434px ;
  width: 645px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;
  padding-right: 40px;
}
.message_title{
  font-size: 24px;
  font-weight: var(--font-weight-semibold);
  color:#fff;
  line-height: 1;
}

.message_title-current{
  padding-bottom: 16px;

}
.form_group{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
 
}
.input_group{
  position: relative;
  width: 286px;
  /* height: 35px; */
}
.message_text{
  font-size: 16px;
  font-weight: var(--font-weight-regular);
  color: #fff;
  line-height: 1.3;
}
.message_text-bold{
  font-weight: var(--font-weight-bold);
}
.underline{
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ccc;
}
.underline-big{
  bottom: -80px;
  left: 0;
  width: 605px;
}

.button_wrapper{
  padding-top: 40px;
  align-self: end;
}

.message_btn{
  width:193px;
  height:56px;
}

.vertical_line{
  width: 1px;
  height: 434px;
  background-color: #C3C3C3;
}

.callUs{
padding-left: 40px;
display: flex;
flex-direction: column;
justify-content: space-between;
gap: 40px;
}

.text_field{
  width: 442px;
  height: 118px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.map{
  height: 541px;
  width: 100%;
  font-size: 32px;
  font-weight: var(--font-weight-semibold);
}
.section_footer{
  height: 306px;
  background-color: #7F3E41;
}
.footer{
  display: flex;
  padding-top: 56px;
}

.columns{
margin-left: 44px;
display:flex ;
justify-content: space-between;
gap: 150px;
}
.column_first{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  width: 281px;
}
.column_second{
width: 217px;
display: flex;
flex-direction: column;
justify-content: space-between;
gap: 16px;
}

.column_wrapper{
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.footer_text{
  font-size: 14px;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-semibold);
  line-height: 160%;
  color: #fff;
}
.footer_text-bold{
   font-size: 14px;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  line-height: 160%;
  color: #fff;
}
.column_third{
 width: 96px;

}
.footer_icon{
  width: 24px;
  height: 24px;
}
.footer_icons{
padding-top: 16px;
 display: flex;
 gap: 12px;
}
