@import url(normalize.css);

:root {
  --font-primary: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  --font-secondary: "Montserrat", "Arial", sans-serif;
  --font-third: "Poppins", "Arial", sans-serif;

  --font-weight-light: 200;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  --font-size-small: 14px;
  --font-size-base: 16px;

  --color-black: black;
  --color-white: #fff;
  --color-light-orange: #f0efee;
  --color-grey: #353535;
  --color-light-grey: #8b8b8b;
  --color-extra-light-grey: #c3c3c3;
  --color-light-brown: #7f3e41;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
  line-height: 1.5;
  font-optical-sizing: auto;
}
a {
  display: inline-block;
}
a:hover {
  transform: scale(1.05);
}

.section {
  max-width: 1127px;
  width: 100%;
  margin: 0 auto;
}

.header {
  background-image: url("../images/image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.header__nav {
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  height: 70px;
  align-items: center;
}

.logo {
  color: var(--color-white);
}

.nav__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 24px;
}

.nav__link {
  text-decoration: none;
  color: var(--color-white);
}

.secondNav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 16px;
}

.nav__link-special {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-semibold);
  color: var(--color-black);
  background-color: var(--color-white);
  border: 12px solid var(--color-white);
  border-radius: 24px;
  &:hover,
  &:active,
  &:focus {
    color: var(--color-black);
    background-color: var(--color-white);
  }
}
.title {
  margin: 5px;
  font-size: 80px;
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-extrabold);
  padding: 0;
}

.header__container {
  padding-top: 50vh;
  display: flex;
  flex-direction: column;

  justify-content: center;
}
.header__title {
  color: var(--color-white);
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-light {
  font-weight: var(--font-weight-light);
  font-style: italic;
  margin-left: 67px;
  display: block;
  line-height: 0.8;
}

.header__arrow {
  display: block;
  width: 70px;
  height: 70px;
  margin: 38px auto 40px auto;
}

.section__motherhood {
  background-color: var(--color-light-orange);
}

.motherhood {
  height: 100%;
  padding: 80px 0 80px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.motherhood__text {
  max-width: 513px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  z-index: 1;
}

.motherhood__title {
  font-weight: var(--font-weight-semibold);
  font-size: 32px;
}

.motherhood__description {
  font-weight: var(--font-weight-regular);
  line-height: 160%;
}

.motherhood__btn {
  font-family: var(--font-third);
  font-weight: var(--font-weight-semibold);
  color: var(--color-grey);
  text-decoration: underline 1px solid var(--color-grey);
  text-underline-offset: 9px;
}
.motherhood__bg {
  display: contents;
}

.motherhood__bgtext {
  width: 100%;
  position: absolute;
  top: 65%;
  left: 0;
  z-index: 0;
}

.motherhood__image {
  max-width: 460px;
  z-index: 1;
}

.motherhood__img {
  width: 100%;
  border-radius: 10px;
}

.section__products {
  background-color: var(--color-light-orange);
  position: relative;
}

.products__bgimage {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
  z-index: 0;
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: 100%;
  padding: 80px 0;
}

.products__title {
  align-self: start;
}

.card__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.product__card {
  z-index: 1;
}

.product__image-big {
  border-radius: 10px;
  width: 100%;
}

.product__image-small {
  border-radius: 10px;
}

.product__text {
  padding-top: 16px;
}

.product__name {
  font-weight: var(--font-weight-bold);
  line-height: 1.9;
}

.product__description {
  font-weight: var(--font-weight-regular);
  color: var(--color-light-grey);
}

.products__firstSlider {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.products__secondSlider {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.btn {
  padding: 16px 24px;
  font-family: var(--font-third);
  font-weight: var(--font-weight-semibold);
  color: var(--color-white);
  background-color: var(--color-light-brown);
  border-radius: 50px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &:hover,
  &:active,
  &:focus {
    color: var(--color-white);
    background-color: var(--color-light-brown);
    text-decoration: none;
    outline: none;
    transform: scale(1.05);
    box-shadow: none;
  }
}

.section__tips {
  background-color: var(--color-light-brown);
  position: relative;
}

.tips {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: 100%;
  padding: 80px 0;
}

.tips__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
}

.tips__bgimage {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  z-index: 0;
}

.tips__title {
  color: var(--color-white);
  align-self: start;
}

.card {
  max-width: 360px;
  background-color: var(--color-white);
  border-radius: 16px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  position: relative;
}

.card__logo {
  width: 70px;
  height: 70px;
}

.card__title {
  position: relative;
}

.card__name {
  font-weight: var(--font-weight-bold);
  line-height: 1.2;
  font-size: 18px;
}

.card__arrow {
  position: absolute;
  top: 3px;
  height: 11px;
  width: auto;
  left: 90%;
  z-index: 1;
}

.card__description {
  font-weight: var(--font-weight-regular);
  line-height: 1.4;
}

.tips__btn {
  color: var(--color-light-brown);
  background-color: var(--color-white);

  z-index: 1;
  &:hover,
  &:active,
  &:focus {
    color: var(--color-light-brown);
    background-color: var(--color-white);
  }
}

.section__stories {
  background-color: var(--color-light-orange);
}

.stories__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 35px;
  padding: 80px 0px;
}

.stories__title {
  font-weight: var(--font-weight-semibold);
  font-size: 32px;
}

.stories {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.story {
  max-width: 100%;
}

.story-small {
  max-width: 100%;
}

.story__card {
  background-color: var(--color-white);
  border-radius: 10px;
  max-width: 550px;
}

.story__cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.story__text {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.story__title {
  font-weight: var(--font-weight-bold);
  font-size: 18px;
}

.story__description {
  font-weight: var(--font-weight-regular);
  color: var(--color-light-grey);
  line-height: 160%;
}

.stories__btn {
  align-self: center;
}

.readMore {
  color: var(--color-light-brown);
}

.section__contacts {
  background-color: var(--color-light-brown);
}

.contacts__container {
  display: flex;
  padding: 80px 0px;
  flex-direction: column;
  gap: 80px;
}

.contacts__title {
  color: var(--color-white);
  align-self: start;
  font-size: 32px;
  vertical-align: top;
  white-space: nowrap;
}

.communication__wrapper {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.message {
  display: flex;
  flex-direction: column;
  padding-right: 40px;
}

.message__title {
  font-size: 24px;
  font-weight: var(--font-weight-semibold);
  color: var(--color-white);
  line-height: 1;
}

.message__title-current {
  padding-bottom: 16px;
}
.form {
  width: 100%;
  padding-top: 40px;
}

.form__group {
  display: grid;
  grid-template-columns: repeat(2, minmax(286px, 1fr));
  gap: 24px;
}

.input {
  position: relative;
}

.input__label {
  display: block;
  font-weight: var(--font-weight-regular);
  color: var(--color-white);
}

.input__field {
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  caret-color: var(--color-white);
  color: var(--color-white);
}

.input_size_big {
  grid-column: 1 / 3;
}

.input__underline {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-extra-light-grey);
  bottom: 0;
}

.message__text {
  font-weight: var(--font-weight-regular);
  color: var(--color-white);
  line-height: 1.3;
}

.message_text-bold {
  font-weight: var(--font-weight-bold);
}
.message__btn {
  margin-top: 10px;
  align-self: end;
}

.vertical__line {
  width: 1px;
  height: 434px;
  background-color: var(--color-extra-light-grey);
}

.callUs {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.text__field {
  max-width: 442px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.map {
  max-height: 541px;
  width: 100%;
  font-size: 32px;
  font-weight: var(--font-weight-semibold);
  border-radius: 10px;
}

.section__footer {
  background-color: var(--color-light-brown);
}

.footer {
  display: flex;
  padding-top: 56px;
}

.columns {
  margin-left: 44px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 150px;
  padding-bottom: 50px;
}

.column__first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.column__second {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.column__wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.footer__text {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-semibold);
  line-height: 160%;
  color: var(--color-white);
}

.footer__text-bold {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  line-height: 160%;
  color: var(--color-white);
}

.footer__icon {
  width: 24px;
  height: 24px;
}

.footer__icons {
  padding-top: 16px;
  display: flex;
  gap: 12px;
}

@media (max-width: 1280px) {
  .section {
    max-width: 750px;
  }
  h2 {
    padding-left: 24px;
  }
  .header__nav {
    padding: 0 20px;
  }
  .nav__list {
    gap: 8px;
  }
  .logo h2 {
    padding-left: 0px;
  }
  .title {
    font-size: 50px;
  }
  .story__card {
    max-width: 350px;
  }
  .vertical__line {
    display: none;
  }
  .message {
    padding-right: 0px;
    margin: auto;
  }
  .callUs {
    padding-left: 0px;
    margin: auto;
  }
  .columns {
    gap: 24px;
  }
}

@media (max-width: 770px) {
  .section {
    max-width: 300px;
  }
  h1 {
    text-align: center;
  }
  h2 {
    padding-left: 10px;
  }
  .header__nav {
    padding: 0 20px;
  }
  .nav__list {
    display: none;
  }
  .logo h2 {
    padding-left: 0px;
  }
  .title {
    font-size: 30px;
  }
  .text-light {
    margin-left: 0px;
  }
  .motherhood {
    flex-wrap: wrap;
    gap: 20px;
  }
  .products__firstSlider {
    flex-wrap: wrap;
  }
  .products__secondSlider {
    flex-wrap: wrap;
  }
  .stories {
    flex-wrap: wrap;
  }
  .story__card {
    max-width: 350px;
  }
  .communication__wrapper {
    gap: 24px;
  }
  .vertical__line {
    display: none;
  }
  .form__group {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .message {
    padding-right: 0px;
    margin: auto;
  }
  .callUs {
    padding-left: 0px;
    margin: auto;
  }
  .footer {
    flex-direction: column;
    gap: 24px;
  }
  .columns {
    flex-direction: column;
    gap: 24px;
    margin-left: 8px;
  }
}
