@import url(normalize.css);

:root {
  --font-primary: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  --font-secondary: 'Montserrat', 'Arial', sans-serif;
  --font-third: 'Poppins', 'Arial', sans-serif;
  
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  
 
  --font-size-xs: 0.75rem;   /* 12px */
  --font-size-sm: 0.875rem;  /* 14px */
  --font-size-base: 1rem;    /* 16px */
  --font-size-lg: 1.125rem;  /* 18px */
  --font-size-xl: 1.5rem;    /* 24px */
  --font-size-xxl: 2rem;     /* 32px */
  --font-size-xxxl: 2.5rem;  /* 40px */
}


body {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
  line-height: 1.5;
  font-optical-sizing: auto;
 
    
}
.section {
  max-width: 1127px;
  width: 100%;
  margin: 0 auto; 
}

.header{
  background-image: url('../images/image.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  height: 830px;
}


.header_nav{
  display: flex;
  justify-content: center;
  height: 69px;
  align-items: center;
}

.header_logo{
  width:224px;
}
.logo{
  color:#fff;

}

.nav_list{
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
    list-style: none;
    gap:16px;
}
.nav_link{
  text-decoration: none;
  color: #ffffff;
  font-family: var(--font-primary);
  font-size: 16px;
  padding: 0px 8px;
}

.secondNav_list{
  display: flex;
  justify-content: space-between;
  list-style: none;
  width:224px;
  padding-left: 8px;
}

.nav_link-special{
  font-size: 14px;
  font-weight: var(--font-weight-semibold);
  color: black;
  background-color: #fff;
  border: 12px solid #fff;
  border-radius: 24px;
}


.title{
    margin: 5px;
    font-size: 80px; 
    font-family: var(--font-secondary);
    font-weight: 900;
    padding: 0;
}

.header_title{
  margin-top: 436px;
    color: #ffffff;
    padding: 0;
    height: 176px; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.text-light{
   font-weight: 200;
    font-style: italic;
    margin-left: 67px;
    display: block;
    line-height: 0.8; 

}

.header_arrow{
  width: 70px;
  height: 70px;
  margin: 38px auto 40px auto;
  }



.section_motherhood{
    background-color: #F0EFEE;
    height: 761px;
}


  .motherhood{
    height: 100%;
    padding: 80px 0 80px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
  }
.motherhood_text{
  width: 513px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  z-index: 1;
  
}
.motherhood_title{
  font-family: var(--font-primary);
  font-weight: var(--font-weight-semibold);
  font-size: 32px;
}

.motherhood_discription{
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  line-height: 160%;
}

.motherhood_btn{
   font-family: var(--font-third);
  font-weight: var(--font-weight-semibold);
  font-size: 16px;
  color:#353535;
    text-decoration: underline 1px solid #353535;
    text-underline-offset: 9px;

}
.motherhood_bg{
  display: contents;

}

.motherhood_bgtext{
   position: absolute;
    top: 65%; 
    left: 0;
    z-index: 0; 
}
.motherhood_image{
  width:463px;
  height:605px;
  z-index: 1;
}
.motherhood_img{
  border-radius: 10px;
}

.section_products{
  height: 1845px;
      background-color: #F0EFEE;
      position: relative;
}
.products_bgimage{
  position: absolute;
    top: 50%; 
    width:100%;
    left: 0;
    z-index: 0; 
   
}
.products{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: 100%;
  padding: 80px 0;
}

.products_title{
  align-self: start;
}
.card_box{
   display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product_card{
   z-index: 1;
}

.product_card-small{
  max-height: 355px;
}
.product_rectangle-big{
  width:551px;
  height:665px;
}
.product_image-big{
  border-radius: 10px;

}
.product_rectangle-small{
  width:551px;
  height:286px;
}
.product_image-small{
  border-radius: 10px;

}

.product_text{
  padding-top: 16px;
}
.product_name{
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  font-size: 16px;
  line-height: 1.9;
}
.product_discription{
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  color:#8B8B8B;
}

.prosucts_firstSlider{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.prosucts_secondSlider{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn{
  width: 193px;
  height: 56px;
  font-family: var(--font-third);
  font-weight: var(--font-weight-semibold);
  font-size: 16px;
  color: #ffffff;
  background-color: #7F3E41;
  border-radius: 50px; 
  text-decoration: none;
   display: inline-flex;
  align-items: center;
  justify-content: center;
   /* Отключаем все изменения при взаимодействии */
  &:hover, &:active, &:focus {
    color: #ffffff;
    background-color: #7F3E41;
    text-decoration: none;
    outline: none;
    transform: none;
    box-shadow: none;
  }
} 

/* .btn::after {
  display: none;
} */

.products_btn{
}