@import url(normalize.css);

:root {
  --font-primary: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  --font-secondary: 'Montserrat', 'Arial', sans-serif;
  
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  
 
  --font-size-xs: 0.75rem;   /* 12px */
  --font-size-sm: 0.875rem;  /* 14px */
  --font-size-base: 1rem;    /* 16px */
  --font-size-lg: 1.125rem;  /* 18px */
  --font-size-xl: 1.5rem;    /* 24px */
  --font-size-xxl: 2rem;     /* 32px */
  --font-size-xxxl: 2.5rem;  /* 40px */
}


body {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
  line-height: 1.5;
  font-optical-sizing: auto;
 
    
}
.section {
  max-width: 1283px;
  width: 100%;
  margin: 0 auto; 
}

.header{
  background-image: url('../images/image.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  height: 830px;
}


.header_nav{
  display: flex;
  justify-content: center;
  height: 69px;
  align-items: center;
}

.header_logo{
  width:224px;
}
.logo{
  color:#fff;

}

.nav_list{
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
    list-style: none;
    gap:16px;
}
.nav_link{
  text-decoration: none;
  color: #ffffff;
  font-family: var(--font-primary);
  font-size: 16px;
  padding: 0px 8px;
}

.secondNav_list{
  display: flex;
  justify-content: space-between;
  list-style: none;
  width:224px;
  padding-left: 8px;
}

.nav_link-special{
  font-size: 14px;
  font-weight: var(--font-weight-semibold);
  color: black;
  background-color: #fff;
  border: 12px solid #fff;
  border-radius: 24px;
}


.title{
    margin: 5px;
    font-size: 80px; 
    font-family: var(--font-secondary);
    font-weight: 900;
    padding: 0;
}

.header_title{
  margin-top: 436px;
    color: #ffffff;
    padding: 0;
    height: 176px; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.text-light{
   font-weight: 200;
    font-style: italic;
    margin-left: 67px;
    display: block;
    line-height: 0.8; 

}

.header_arrow{
  width: 70px;
  height: 70px;
  margin: 38px auto 40px auto;
  }
